.menu-bar {
	.links {
		a,
		button {
			text-transform: none;
			vertical-align: middle;
			color: #fff;
			text-decoration: none;
			font-size: 1.25rem;
			font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
			margin: 0 0.75rem;
			padding: 0;
		}

		.logout {
			margin-left: 2rem;
		}
	}
}
